@mixin flexbox ($content: center, $items: center, $direction: row) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  flex-direction: $direction;
}

@mixin flexbox--row ($content: center, $items: center) {
  @include flexbox($content, $items)
}

@mixin flexbox--column ($content, $items) {
  @include flexbox($content, $items, column)
}