.l-header {
  display: flex;
  align-items: center;

  //vuetify class
  .toolbar__content {
    width: 100%;
  }

  &__items {
    width: 100%;
    .l-header__item {
      margin-left: 20px;
    }
  }

  &__actions {
    .l-header__action {
      margin-left: 5px;
    }
  }
}

.c-header {
  height: 126px;
}